<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Show {{onlyOdd ? "all" : "only odd"}}
                numbers</button>
            <br><br>
            <ul class="list-group">
                <div *appUnless="onlyOdd">
                    <li class="list-group-item" *ngFor="let number of numbers">
                        {{number}}
                    </li>
                </div>
                <div *ngIf="onlyOdd">
                    <li class="list-group-item oddnumber" *ngFor="let oddNum of oddNum">
                        {{oddNum}}
                    </li>
                </div>
            </ul>
            <p appBasicHighlight>Style with basic directive!</p>
            <p appBetterHighlight defaultColor="yellow" highlightColor="red">Style with better directive!</p>

            <div [ngSwitch]="value">
                <p *ngSwitchCase="5">Value is 5</p>
                <p *ngSwitchCase="10">Value is 10</p>
                <p *ngSwitchCase="100">Value is 100</p>
                <p *ngSwitchDefault>Value is default</p>
            </div>
        </div>
    </div>
</div>
